body {
   font-family: "Inter", sans-serif;
 }
 /* Custom scrollbar for comments list */
 .scrollbar-hide::-webkit-scrollbar {
   display: none;
 }
 .scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
